services:
  backend:
    image: custom-erpnext:latest
    networks:
      - dokploy-network
    deploy:
      restart_policy:
        condition: on-failure
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs
    depends_on:
      configurator:
        condition: service_completed_successfully
      db:
        condition: service_healthy
      redis-cache:
        condition: service_healthy
      redis-queue:
        condition: service_healthy
        
  configurator:
    image: frappe/erpnext:latest
    networks:
      - dokploy-network
    deploy:
      restart_policy:
        condition: none
    entrypoint:
      - bash
      - -c
    command:
      - >
        ls -1 apps > sites/apps.txt;
        bench set-config -g db_host $$DB_HOST;
        bench set-config -gp db_port $$DB_PORT;
        bench set-config -g redis_cache "redis://$$REDIS_CACHE";
        bench set-config -g redis_queue "redis://$$REDIS_QUEUE";
        bench set-config -g redis_socketio "redis://$$REDIS_QUEUE";
        bench set-config -gp socketio_port $$SOCKETIO_PORT;
    environment:
      DB_HOST: db
      DB_PORT: "3306"
      REDIS_CACHE: redis-cache:6379
      REDIS_QUEUE: redis-queue:6379
      SOCKETIO_PORT: "9000"
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs

  db:
    image: mariadb:10.6
    networks:
      - dokploy-network
    healthcheck:
      test: mysqladmin ping -h localhost --password=xabwitljnq4azdrixcfhgbymja0d0rxm
      interval: 1s
      retries: 20
    deploy:
      restart_policy:
        condition: on-failure
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
      - --skip-innodb-read-only-compressed
    environment:
      MYSQL_ROOT_PASSWORD: xabwitljnq4azdrixcfhgbymja0d0rxm
      MARIADB_ROOT_PASSWORD: xabwitljnq4azdrixcfhgbymja0d0rxm
    volumes:
      - db-data:/var/lib/mysql
   
  frontend:
    image: frappe/erpnext:latest
    networks:
      - dokploy-network
    depends_on:
      - websocket
    deploy:
      restart_policy:
        condition: on-failure
    command:
      - nginx-entrypoint.sh
    environment:
      BACKEND: backend:8000
      FRAPPE_SITE_NAME_HEADER: ${FRAPPE_SITE_NAME_HEADER}
      SOCKETIO: websocket:9000
      UPSTREAM_REAL_IP_ADDRESS: 127.0.0.1
      UPSTREAM_REAL_IP_HEADER: X-Forwarded-For
      UPSTREAM_REAL_IP_RECURSIVE: "off"
      PROXY_READ_TIMEOUT: 120
      CLIENT_MAX_BODY_SIZE: 50m
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs
    expose:
      - "8080"

  queue-long:
    image: frappe/erpnext:latest
    networks:
      - dokploy-network
    deploy:
      restart_policy:
        condition: on-failure
    command:
      - bench 
      - worker 
      - --queue 
      - long,default,short
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs
    depends_on:
      redis-queue:
        condition: service_healthy

  queue-short:
    image: frappe/erpnext:latest
    networks:
      - dokploy-network
    deploy:
      restart_policy:
        condition: on-failure
    command:
      - bench 
      - worker 
      - --queue 
      - short,default

    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs
    depends_on:
      redis-queue:
        condition: service_healthy
        
  redis-queue:
    image: redis:6.2-alpine
    networks:
      - dokploy-network
    deploy:
      restart_policy:
        condition: on-failure
    volumes:
      - redis-queue-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  redis-cache:
    image: redis:6.2-alpine
    networks:
      - dokploy-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    deploy:
      restart_policy:
        condition: on-failure

  scheduler:
    image: frappe/erpnext:latest
    networks:
      - dokploy-network
    deploy:
      restart_policy:
        condition: on-failure
    command:
      - bench 
      - schedule
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs
    depends_on:
      redis-queue:
        condition: service_healthy

  websocket:
    image: frappe/erpnext:latest
    networks:
      - dokploy-network
    deploy:
      restart_policy:
        condition: on-failure
    command:
      - node 
      - /home/frappe/frappe-bench/apps/frappe/socketio.js
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs
    depends_on:
      redis-queue:
        condition: service_healthy
      redis-cache:
        condition: service_healthy

volumes:
  db-data:
  redis-queue-data:
  sites:
  logs:

networks:
  dokploy-network:
    external: true
